<div class="center-page-message  page-top-padding  page-padding">

    <h1 class="text--l  text--style-1">{{ '404.title' | t }}</h1>

    <a href="/" class="button  button--primary  button--large  button--max-width">Shop Now</a>

</div>
