{% comment %}
    Cart
{% endcomment %}
<div class="cart" data-money-format="{{ shop.money_format }}"></div>


{% comment %}
    Cart handlebars template
{% endcomment %}
{% include "cart-template" %}
