<div class="page-top-padding  page-padding  page-max-width  static-page-contact">

    <div class="text--xxl  text--style-1  contact__title">{{ page.title }}</div>

    <div class="contact">

        <div class="contact__col">

            <div class="text--m  text--style-1">All Inquiries</div>

            <div class="contact__hours  contact__line">
                <div>M-F 9am-5pm EST</div>
            </div>

            <div class="contact__email  contact__line">
                <a href="mailto:contactus@edllc.com">contactus@edllc.com</a>
            </div>

            <div class="contact__phone  contact__line">
                <a href="tel:16467801135">646.780.1135</a>
            </div>

        </div>

        <div class="contact__col">

            <div class="contact__email">

                <div class="text--m  text--style-1">Press Inquiries</div>

                <div class="contact__line">
                    <a href="mailto:press@edllc.com">press@edllc.com</a>
                </div>

            </div>

        </div>

    </div>

</div>
