        <div class="section">

            <div class="">

                <div class="page-boutiques-container">
                        {% section "boutiques" %}
                        {% section "text-block" %}
            </div>
        </div>
</div>
