    <aside class="shipping-modal modal ">

        <div class="modal__inner">

            <span data-toggle='{"togglesClass": "modal--toggled", "toggles": ".shipping-modal"}' class="right-corner-click close"></span>

            <div class="modal__row">

                <div class="modal__col">

                  {{ pages.shipping-returns.content }}

                    {% include 'logo-vertical.svg' class: "modal__logo" %}


                </div>

            </div>

        </div>

    </aside>
