
{% comment %}
  Sort
{% endcomment %}


<div class="sort-buffer collection-sort collection-filter-wrapper">
	<h1 class="sort-trigger arrow-right">Sort by<span id="sort-key-word"></span></h1>
	<ul class="clearfix dropdown-menu" id="sort-menu">
		<li><a href="{{collection.url}}?sort_by=created-descending" class="js-sort-cookie">New Arrivals</a></li>
		<li><a href="{{collection.url}}?sort_by=best-selling" class="js-sort-cookie">Best Sellers</a></li>
		<li><a href="{{collection.url}}?sort_by=price-descending" class="js-sort-cookie">Price High to Low</a></li>
		<li><a href="{{collection.url}}?sort_by=price-ascending" class="js-sort-cookie">Price Low to High</a></li>
	</ul>
</div>
