@font-face {
    font-family: 'GothamBook';
    src: url('GothamBook.woff2') format('woff2'),
         url('GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBold';
    src: url('GothamBold.woff2') format('woff2'),
        url('GothamBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BemboStd-Italic';
    src: url('BemboStd-Italic.woff2') format('woff2'),
         url('BemboStd-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BemboStd-SemiboldItalic';
    src: url('BemboStd-SemiboldItalic.woff2') format('woff2'),
         url('BemboStd-SemiboldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BemboStd';
    src: url('BemboStd.woff2') format('woff2'),
         url('BemboStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fontawesome-webfont.woff2') format('woff2'),
         url('fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}