/*------------------------------------*    #STRUCTURE
\*------------------------------------*/
/*
@description
Returns the "padding" key from our $page map in your specified property.

@param $prop {property}
The CSS property that the value will be applied to.

@example
@include page-padding(padding-left);
@include page-padding(padding-right);
*/
/*------------------------------------*    #SECTION
\*------------------------------------*/
/*
@description
Provides a consistent transition.

@param $props {CSS property}
Any transitionable CSS property.
Defaults to all.

@param $speed {key}
A key in the $transition-speed map.
Defauls to fast.

@example
@include trans; // default is all
@include trans(padding);
@include trans("opacity, padding");
*/
/*------------------------------------*    #MEDIA-QUERIES
\*------------------------------------*/
/*
@description
Mixin for a basic media query from our $media-query
map.

@param {string} query
A key in our $media-query map that we are fetching.

@example
.hello{
    @include mq("m"){
        color: red;
    }
}
*/
/*
@description
Mixin for a basic max width media query from our $media-query
map.

@param {string} query
A key in our $media-query map that we are fetching.

@example
.hello{
    @include mqMax("m"){
        color: red;
    }
}
*/
/*
@description
Mixin for checking if the browser has touchevents.
@example
.hello{
    @include touch{
        opacity: 1;
    }
}
*/
/*------------------------------------*    #FORMS
\*------------------------------------*/
/*------------------------------------*    #MEDIA
\*------------------------------------*/
/*
Creates spacing classes based on our $spacing map.
Ex output:.mt-s{
    margin-top: 3rem;
}
*/
/*------------------------------------*    #TYPOGRAPHY
\*------------------------------------*/
/*
@description: Scales an initial font size from our $font-size map.
@param {string} $fontKey: a key in the $font-size map.
@param {string} $scaleKey: a key in the $font-scales map.
@returns: $fontKey value * $scaleKey value.
@example: font-size: scale-font("xs", "m");
          font-size: scale-font("default", "l");
*/
/*------------------------------------*    #EVENTS
\*------------------------------------*/
/*------------------------------------*    #OBJECTS
\*------------------------------------*/
/*------------------------------------*    #TEXT-CLIPPING
\*------------------------------------*/
/*------------------------------------*    #FILTER
\*------------------------------------*/
/* clearfix */
